* {
    box-sizing: border-box;
}

body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    color: #222;
}

ul, li {
    list-style: none;
}

.search-index {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    height: 44px;
    display: flex;
    background-color: #F6F6F6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.search {
    flex: 1;
    height: 26px;
    border: 1px solid #ccc;
    margin: 7px 10px;
    border-radius: 5px;
    position: relative;
    font-size: 12px;
    line-height: 24px;
    color: #666;
    padding-left: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .8);
}

.search:before {
    content: '';
    width: 15px;
    height: 15px;
    background: url(../images/放大镜.svg) no-repeat;
    background-size: contain;
    position: absolute;
    top: 6px;
    left: 5px;

}

.user {
    width: 44px;
    height: 44px;
    font-size: 12px;
    text-align: center;
    color: #2eaae0;
}

.user:before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/User.svg) no-repeat;
    background-size: cover;
    margin: 4px auto -2px;
}

.focus {
    padding-top: 44px;
}

.focus img {
    width: 100%;
}

.local-nav {
    display: flex;
    height: 64px;
    background-color: #fff;
    margin: 3px 4px;
    border-radius: 8px;
    padding-left: 0;
}

.local-nav li {
    flex: 1;
}

.local-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.local-nav li [class^='local-nav-icon'] {
    width: 32px;
    height: 32px;
    margin-top: 8px;
}

.local-nav li .local-nav-icon-icon1 {
    background: url(https://pages.c-ctrip.com/basebiz/h5home/v1/nav/main/weekend.png) no-repeat;
    background-size: cover;
}

.local-nav li .local-nav-icon-icon2 {
    background: url("https://dimg02.c-ctrip.com/images/100l1a0000018mdjtB3FE.png") no-repeat;
    background-size: cover;
}

.local-nav li .local-nav-icon-icon3 {
    background: url("https://dimg02.c-ctrip.com/images/100r1a00000197zax1949.png") no-repeat;
    background-size: cover;
}

.local-nav li .local-nav-icon-icon4 {
    background: url("https://dimg02.c-ctrip.com/images/100b1a0000018olj00567.png") no-repeat;
    background-size: cover;
}

.local-nav li .local-nav-icon-icon5 {
    background: url("https://dimg02.c-ctrip.com/images/100q1a0000018ni1488F0.png") no-repeat;
    background-size: cover;
}

nav {
    border-radius: 8px;
    margin: 0 4px 3px;
    overflow: hidden;
}

.nav-common {
    height: 88px;
    background-color: pink;
    display: flex;
}

.nav-common:nth-child(1) {
    /*背景渐变前面要加浏览器私有前缀，方向默认是 top ；*/
    background: -webkit-linear-gradient(left, #FA5A55, #FA994D)
}

.nav-common:nth-child(2){
    margin: 3px 0;
    background: -webkit-linear-gradient(left, #4B90ED, #53BCED);
}

.nav-common:nth-child(3) {
    background: -webkit-linear-gradient(left, #34C2A9, #6CD559);
}

.nav-items {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* -n+2 就是选择前面两个元素*/
.nav-items:nth-child(-n+2) {
    border-right: 1px solid #fff;
}

.nav-common:nth-child(1) .nav-items:nth-child(1) a {
    border: 0;
    background: url(https://pages.c-ctrip.com/basebiz/h5home/v1/nav/main/hotel.png) no-repeat bottom center;
    background-size: 64px 64px;
}



.nav-common:nth-child(2) .nav-items:nth-child(1) a{
    border: 0;
    background:url(https://pages.c-ctrip.com/basebiz/h5home/v1/nav/main/flight.png) no-repeat bottom center;
    background-size: 64px 64px;
}

.nav-common:nth-child(3) .nav-items:nth-child(1) a {
    border: 0;
    background:url(https://pages.c-ctrip.com/basebiz/h5home/v1/nav/main/vacation.png) no-repeat bottom center;
    background-size: 64px 64px;
}

.nav-items a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2)
}

.nav-items a:nth-child(1) {
    border-bottom: 1px solid #fff;
}

.subNav-entry{
    display:flex;
    flex-wrap:wrap;
    border-radius:8px;
    background-color: #fff;
    margin:0 4px;
    padding:5px 0;
}

.subNav-entry li{
    flex:20%;
}
.subNav-entry li a{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.subNav-entry li a span[class^="subNay-entry-icon"]{
    width: 28px;
    height: 28px;
    margin-top: 4px;
    background-size: 28px auto;
}

.subNav-entry li a .subNay-entry-icon-icon1{
    background:url(https://pages.c-ctrip.com/basebiz/h5home/v1/nav/sub/wifi.png) no-repeat;
}

.subNav-entry li a .subNay-entry-icon-icon2{
    background:url(https://pages.c-ctrip.com/basebiz/h5home/v1/nav/sub/insurance.png) no-repeat;
}
.subNav-entry li a .subNay-entry-icon-icon3{
    background:url(https://pages.c-ctrip.com/basebiz/h5home/v1/nav/sub/exchange.png) no-repeat;
}
.subNav-entry li a .subNay-entry-icon-icon4{
    background:url(https://pages.c-ctrip.com/basebiz/h5home/v1/nav/main/shop.png) no-repeat;
}
.subNav-entry li a .subNay-entry-icon-icon5{
    background:url(https://pages.c-ctrip.com/basebiz/h5home/v1/nav/sub/hpgs_guide.png) no-repeat;
}
.subNav-entry li a .subNay-entry-icon-icon6{
    background:url(https://dimg04.c-ctrip.com/images/0301o120009530v7655BC_Q80.png) no-repeat;
}
.subNav-entry li a .subNay-entry-icon-icon7{
    background:url(https://pages.c-ctrip.com/basebiz/h5home/v1/nav/sub/flight_schedule.png) no-repeat;
}
.subNav-entry li a .subNay-entry-icon-icon8{
    background:url(https://pages.c-ctrip.com/basebiz/h5home/v1/nav/sub/gift_card.png) no-repeat;
}
.subNav-entry li a .subNay-entry-icon-icon9{
    background:url(https://pages.c-ctrip.com/basebiz/h5home/v1/nav/sub/credit_card.png) no-repeat;
}
.subNav-entry li a .subNay-entry-icon-icon10{
    background:url(https://pages.c-ctrip.com/basebiz/h5home/v1/nav/sub/lvpai.png) no-repeat;
}

/*销售模块*/

.sales-box{
    background-color: #fff;
    margin:4px;
}
.sales-box .sales-hd{
    height: 44px;
    border-bottom:1px solid #ccc;
    position:relative;
}
.sales-box .sales-hd h2{
    text-indent:-999px;
    overflow:hidden;
    position:relative;
}
.sales-box .sales-hd h2:after{
    content:"";
    width: 79px;
    height: 20px;
    background:url("https://images4.c-ctrip.com/target/0zc71120008g0ha4z93C6.png") no-repeat;
    background-size:79px auto;
    position:absolute;
    top:22px;
    left: 20px;
    transform:translateY(-50%);
}
.sales-box .sales-hd .more{
    position:absolute;
    right:5px;
    top:50%;
    transform:translateY(-50%);
    background: -webkit-linear-gradient(left,#FF506C,#FF6BC6);
    border-radius:15px;
    padding:3px 20px 3px 10px;
    color:#fff;
}
.sales-box .sales-hd .more:after{
    content:"";
    position:absolute;
    top:9px;
    right:9px;
    width: 7px;
    height: 7px;
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    transform:rotate(45deg);
}

.sales-bd{
    margin-top:3px;
}
.sales-bd .row{
    display:flex;
}
.sales-bd .row a{
    flex:1;
    border-bottom:1px solid #eee;
}
.sales-bd .row a:nth-child(1){
    border-right:1px solid #eee;
}
.sales-bd .row a img{
    width: 100%;
}
.sales-bd .row a img:nth-child(5){
    width: 100px;
    height: 100px;
}
/*底部广告*/
.advertisement img{
    margin:4px;
    width: 100%;
    border-radius:20px;
}

/*电话预定*/
.reserve{
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.reserve a{
    border:1px solid #999;
    border-radius:4px;
    height: 30px;
    min-width: 100px;
    line-height: 28px;
    text-align:center;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.reserve a span.icon-wrap{
    position:relative;
}
.reserve a:nth-child(1) span.icon-wrap:before{
    content:"";
    display:block;
    background: url(../images/电话.svg) no-repeat;
    background-size:13px 13px;
    width: 13px;
    height: 17px;
    position:absolute;
    top:-6px;
    left:3px;
}
.reserve a:nth-child(2) span.icon-wrap:before{
    content:"";
    display:block;
    background: url(../images/下载.svg) no-repeat;
    background-size:13px 13px;
    width: 13px;
    height: 17px;
    position:absolute;
    top:-6px;
    left:3px;
}
.copy p{
    text-align:center;
    font-size:10px;
    color:#666;
    line-height:12px;
}

.copy p span{
    margin-left:6px;
}
